<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.christina.app.story">

    <permission-group
        android:name="com.christina.permission-group.STORIES"
        android:description="@string/story_permission_group_description"
        android:label="@string/story_permission_group_label"/>

    <permission
        android:name="com.christina.provider.stories.permission.READ"
        android:description="@string/story_permission_read_description"
        android:label="@string/story_permission_read_label"
        android:permissionGroup="com.christina.permission-group.STORIES"/>
    <permission
        android:name="com.christina.provider.stories.permission.WRITE"
        android:description="@string/story_permission_write_description"
        android:label="@string/story_permission_write_label"
        android:permissionGroup="com.christina.permission-group.STORIES"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.christina.app.story.StoryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.christina.app.story.view.activity.storiesViewer.StoriesViewerActivity"
            android:label="@string/application_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <data
                    android:host="com.christina.provider"
                    android:path="/stories"
                    android:scheme="content"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.christina.app.story.view.activity.storyEditor.StoryEditorActivity"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>

                <action android:name="android.intent.action.INSERT"/>

                <data
                    android:host="com.christina.provider"
                    android:path="/stories"
                    android:scheme="content"/>
            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.EDIT"/>

                <data
                    android:host="com.christina.provider"
                    android:path="/stories/*"
                    android:scheme="content"/>
            </intent-filter>
        </activity>

        <provider
            android:name="com.christina.content.story.StoryContentProvider"
            android:authorities="com.christina.provider"
            android:readPermission="com.christina.provider.stories.permission.READ"
            android:writePermission="com.christina.provider.stories.permission.WRITE"/>
    </application>
</manifest>